<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./linnex-college-utawala.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="index2.css">
    <title>Linnex About Us</title>
</head>
<body>

    <div id="top-nav"></div>

    <h3 id="about-header" style="font-weight: 500; color: black;">ABOUT LINNEX TRAINING INSTITUTE</h3>
    <div id="about-linnex">

        <p id="about-para" style="padding-top: 20px;">Linnex College Utawala is a private middle-level college
            located in Jireh House, Utawala,
            Embakasi East Constituency, Nairobi County.<br>

            The core business of the Linnex College is teaching and training. We train in Business Studies
            Department, Hospitality Department ,Social studies Department,ICT Department and also in Hair &
            Beauty
            and Cosmetology Department.
        </p>

        <div id="mission-vision-values">

            <div id="mission">
                <p id="mission-para"><b id="mission-header" class="goals">Mission: </b>To equip our students
                    with
                    knowledge and impacts skills in order to foster
                    intellectual
                    curiosity, utilize acquired knowledge to build the society and spur economic growth.</p>
            </div>
            <div id="vision">

                <p id="vision-para"><b id="vision-header" class="goals">Vision: </b>To be the leading Center of
                    Excellence in Technical, Vocational and
                    Proffessional
                    Training</p>
            </div>
            <div id="values" style="padding-bottom: 20px;">
                <h4 id="values-header" class="goals">Core Values</h4>
                <ul id="list-values">
                    <li class="values-list">Integrity</li>
                    <li class="values-list">Efficiency and Efficacy</li>
                    <li class="values-list">Transparency and Accountability</li>
                    <li class="values-list">Quality Training</li>
                    <li class="values-list">Equality and Accesibility</li>

                </ul>
            </div>
        </div>

    </div><br>

    <script src="index.js"></script>
    
</body>
</html>