<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./linnex-college-utawala.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="index2.css">
    <title>Linnex Cosmetology Department</title>
</head>

<body>

    <div id="top-nav"></div>

    <div id="body-container-courses">

        <div id="courses-offered-all">
            <hr>
            <h3 style="text-align: center;">SCHOOL OF COSMETOLOGY</h3>
            <div id="cosmetology-department" class="department-class"></div>
            <hr>

        </div>

    </div>
    <script>
          const cosmetologyDepartment = document.getElementById("cosmetology-department");
    cosmetologyDepartment.innerHTML = `<div id="cosmetology-department-row-one" class="department-rows">
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Cosmetology
            (Hairdressing
            and
            Beauty Therapy) Grade 3,2,1</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 6 months, 1 year ,
                1<sup>1</sup>/<sub>2</sub>
                years Respectively</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Beauty Therapy</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 1<sup>1</sup>/<sub>2</sub>years
            </h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Hair Dressing</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 1<sup>1</sup>/<sub>2</sub> years
                Respectively
            </h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    
    </div>
    
    
    <div id="cosmetology-department-row-two" class="department-rows">
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Proficiency in make
            up
            and
            hair
            removal</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 3 months</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Nail Technology</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 3 months</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Proficiency
            Certificate
            in
            Massage</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 3 months</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    
    </div>
    
    
    
    
    <div id="cosmetology-department-row-three" class="department-rows">
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Certificate in
            Braidery
        </h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 3 months</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Proficiency
            Certificate
            in
            Dreadlock Styling</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 3 months</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Proficiency
            Certificate
            in
            Dreadlock Styling</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 3 months</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    </div>`

    </script>

    <script src="index.js"></script>
</body>

</html>