<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./linnex-college-utawala.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="index2.css">
    <title>Linnex Hospitality Courses</title>
</head>

<body>

    <div id="top-nav"></div>

    <div id="body-container-courses">

        <div id="courses-offered-all">
            <hr>

            <h3 style="text-align: center;">HOSPITALITY AND CATERING DEPARTMENT</h3>

            <div id="hospitality-department" class="department-class"></div>
            <hr>

        </div>

    </div>

    <div id="footer" style="visibility: hidden;">
    </div>

    <script src="index.js"></script>
</body>

</html>