<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./linnex-college-utawala.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="index2.css">
    <title>Linnex ICT Department</title>
</head>

<body>

    <div id="top-nav"></div>

    <div id="body-container-courses">

        <div id="courses-offered-all">
            <hr>
            <h3 style="text-align: center;">ICT DEPARTMENT</h3>
            <div id="computer-department" class="department-class"></div>
            <hr>

        </div>
    </div>
    <script>
        const computerDepartment = document.getElementById("computer-department");
        computerDepartment.innerHTML = `<div id="ICT-department-row-one" class="department-rows">
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;"> Computer
            Engineering
        </h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 1 <sup>1</sup>/<sub>2</sub>years
            </h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Information
            Communication
            Technology</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 2 years</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">web design and
            desktop
            publishing</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 3 months</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    
    </div>
    
    <div id="ICT-department-row-two" class="department-rows">
    
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Software and
            Hardware
            Maintenance</h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 3 months</h6>
        </div><br>
        <div id="details-apply">
            <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    
    <div class="course">
    
        <h4 id="course-name" class="course-name-class" style="text-align : center;">Computer Packages
        </h4>
        <h5 id="institute-name" style="text-align: center; font-weight: lighter; padding-right: 10px;">
            <i class="bi bi-bank2" style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; Linnex Training
            Institute, Utawala
        </h5>
        <div id="diploma-period">
            <h6 id="diploma-id" style="font-weight: lighter;"><i class="bi bi-mortarboard-fill"
                    style="color: rgba(0, 0, 255, 0.589)"></i>&nbsp; Diploma/Certificate</h6>
            <h6 id="period-id" style="font-weight: lighter;"><i class="bi bi-clock-fill"
                    style="color: rgba(0, 0, 255, 0.589);"></i> &nbsp; 1 month</h6>
        </div><br>
        <div id="details-apply">
        <button class="course-details"
                style="background-color: yellow; border: 0px; color: black; padding: 10px; font-family: sans-serif;">DETAILS<i
                    class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"
                    style="margin-left:-7px;"></i></button>
            <button class="course-apply" onclick="location='/register'"
                style="background-color: blue; border: 0px; color: white; padding: 10px; font-family: sans-serif;">APPLY
                <i class="bi bi-chevron-double-down"></i>
            </button>
        </div>
    </div>
    </div>
    `
    </script>
    <script src="index.js"></script>
</body>

</html>